body {
  background-color: green;
}

.card {
  height: 550px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 1px 1px gray;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form {
  position: relative;
  font-size: 170px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.number {
  margin: auto;
  font-size: 150px;
}

#newCard {
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 8px;
  background-color: rgba(46, 46, 249, 0.638);
  padding: 15px 24px;
  color: white;
  border: 0px;
}
